body {
    background-color: #fff;
    color: #333;
    margin: 0;
    font: 1.2em / 1.2 Arial, Helvetica, sans-serif;
  }

  img {
      max-width: 100%;
      display: block;
  }
  
  .logo {
    font-size: 200%;
    padding: 50px 20px;
    margin: 0 auto;
    max-width: 980px;
  }
  
  .grid {
    margin: 0 auto;
    padding: 0 20px;
    max-width: 980px;
    display: flex;
    flex-wrap: wrap; /* Ensures content wraps if the window is too small */
    gap: 20px; /* Adds space between the columns */
  }
  
  nav {
    background-color: #000;
    padding:0;
    position:sticky;
    top:0 ;
    z-index: 1000;

  }
  
  
  nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
    list-style: none; 
    margin: 0; 
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
    padding: .5em 1em;
  }
  
  .photos {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 1px;
    list-style: none; 
    margin: 0;
    padding: 0;
  }

  .feature {
      width: 200px;
  }

  article img {
    float: left;
    margin: 0 1em 1em 0;

  article {
    flex: 2; 
    min-width: 300px; 
  }

  aside {
    flex: 1; /* Takes up 1 part of the available space */
    min-width: 200px; /* Ensures it doesn't shrink too small */
  }